.container-fluid {
    margin: 0;
    padding: 0;
    height: 91.2vh;
    background-color: rgb(21, 14, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 12px;
    box-shadow: 0 0 10px 4px rgb(255, 255, 255);
    transition: .5s ease-in-out;
}

h2 {
    color: white;
}

.contact-form:hover {
    border: 2px solid #007bff;
    box-shadow: 0 0 10px 6px #007bff;
}

.input-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group {
    margin-bottom: 20px;
    flex: 0 0 48%; 
}

.input-group input,
.textarea-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    color: white;
    transition: .5s ease-in-out;
}

.input-group input:focus,
.textarea-group textarea:focus {
    outline: none;
    border-bottom: 2px solid #007bff;
}

.textarea-group textarea {
    width: 100%;
    max-height: 150px;
    overflow-y: auto; 
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    background-color: transparent;
    width: 100px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
