<div class="container-fluid">
    <div class="contact-group">
        <form class="contact-form" action="https://formsubmit.co/6988f9a744bd2ba93262b02ffd9cf507" method="POST">
            <h2>Contact</h2>
            <div class="input-group">
                <div class="form-group">
                    <input type="text" id="name" name="First&nbsp;name" placeholder="First&nbsp;Name" required>
                </div>
                <div class="form-group">
                    <input type="text" id="lastname" name="Last&nbsp;name" placeholder="Last&nbsp;name" required>
                </div>
            </div>
            <div class="input-group">
                <div class="form-group">
                    <input type="email" id="email" name="Email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="number" id="phone" name="Phone" placeholder="+31 678 123 456" required>
                </div>
            </div>
            <div class="form-group textarea-group">
                <textarea id="message" name="Message" placeholder="Message" required></textarea>
            </div>
            <div class="button-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
