<div class="container-fluid">
    <div class="d-flex flex-column align-items-center">  
      <div class="row">
        <div class="col-md-5" id="box-1"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis soluta voluptatem, eaque animi at est aliquid! Error perspiciatis officia culpa aliquid veniam repellendus. Voluptatum, amet.</div>
        <div class="col-md-7" id="box-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ut similique error ducimus consequuntur beatae iste sint adipisci voluptas dolorem, officiis vitae molestiae nobis rem?</div>
      </div>

      <div class="row">
        <div class="col-md-6" id="box-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores incidunt accusamus, quo harum iste nisi perspiciatis dolor reprehenderit voluptates id odit, dolore at illo ad fugit! Nulla voluptate odio omnis!</div>
        <div class="col-md-6" id="box-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi iure harum nemo obcaecati animi et ut sint natus sed facilis beatae quibusdam praesentium, earum amet eius consequatur! Vitae laborum perferendis velit animi porro nulla quae.</div>
      </div>

      <div class="row">
        <div class="col-md-7" id="box-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo modi in fuga, neque est incidunt esse eum dignissimos? Porro error a illum! Doloribus beatae harum nihil ad libero perferendis iure, assumenda aliquid unde eligendi officia repudiandae recusandae voluptatem officiis labore eum, vitae molestiae consequatur veritatis quisquam voluptas! Numquam, fugit delectus!</div>
        <div class="col-md-5" id="box-2"><h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, accusamus?</h1></div>
      </div>

      <div class="row">
        <div class="col-md-4" id="box-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium nulla repellendus obcaecati. Quibusdam perferendis cumque natus? Culpa beatae sit minima.</div>
        <div class="col-md-4" id="box-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique vel accusamus optio, consectetur debitis necessitatibus ab architecto corporis sapiente, autem sit molestiae deleniti maiores accusantium dolore amet dignissimos. Quos, voluptatibus?</div>
        <div class="col-md-4" id="box-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, beatae enim impedit dolorum recusandae dignissimos culpa nisi atque? Velit, minima perspiciatis quasi necessitatibus nobis cumque? Iste, deserunt! Ipsa illo placeat, recusandae consequatur ad doloremque nihil reiciendis facilis vel fugit. Alias?</div>
      </div>
    </div>
  </div>
  