<div class="container-fluid">
    <div class="d-flex flex-column align-items-center">  
      <div class="row">
        <div class="col-md-5" id="box-1"></div>
        <div class="col-md-7" id="box-2"></div>
      </div>

      <div class="row">
        <div class="col-md-6" id="box-1"></div>
        <div class="col-md-6" id="box-2"></div>
      </div>

      <div class="row">
        <div class="col-md-7" id="box-1"></div>
        <div class="col-md-5" id="box-2"></div>
      </div>

      <div class="row">
        <div class="col-md-4" id="box-1"></div>
        <div class="col-md-4" id="box-2"></div>
        <div class="col-md-4" id="box-1"></div>
      </div>
    </div>
  </div>
  